/* IMPORT FONTS */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* GLOBAL STYLES */
:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-text-secondary: #555555;
}

.--dark-theme {
  --color-bg: #282828;
  --color-text: #ffffff;
  --color-text-secondary: #999999;
}

body {
  margin: 0;
  padding: 16px;
  font-family: "Jost", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

main {
  margin: 64px 0;
}

ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 720px) {
  body {
    padding: 32px 128px;
  }
}

/* style HEADER */
.header {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-text);
}

.header__link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header__link:hover {
  text-decoration: underline;
}

.header__square,
.header__circle {
  width: 7px;
  height: 7px;
  background: var(--color-text);
  margin-top: 2px;
}

.header__circle {
  border-radius: 50%;
  margin-top: 3px;
}

/* style FOOTER */
.footer {
  margin-top: auto;
  font-size: 11px;
}

/* style THEME BUTTON */
.theme {
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  color: var(--color-text);
  position: fixed;
  right: 16px;
  bottom: 16px;
  border-radius: 50%;
  background: #e1100f;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}

.theme:hover {
  background: #c00c0c;
}

.theme__logo {
  width: 60%;
  height: 60%;
}

.theme__logo--dark {
  display: none;
}

.--dark-theme .theme__logo {
  filter: brightness(1) invert(0);
}

.--dark-theme .theme__logo--light {
  display: none;
}

.--dark-theme .theme__logo--dark {
  display: block;
}

@media screen and (min-width: 720px) {
  .theme {
    right: 128px;
    bottom: 32px;
  }
}

/* style CURSOR */
.cursor {
  display: none;
}

@media screen and (min-width: 720px) {
  .cursor {
    width: 12px;
    height: 12px;
    position: fixed;
    left: 0;
    top: 0;
    background: #e1100f;
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
    opacity: 0.8;
    display: block;
  }
}
